.dashboard-container{
    margin: 0.8rem;
}

#main-Heading{
    text-align: center;

}

#searchBar,
#filterByGender{
    padding: 0.5rem 3rem;
    outline: none;
}

#add-btn{
    float: right;
    padding: 0.4rem 3.4rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: rgb(255, 84, 112);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

#add-btn:hover {
    background-color: rgb(4, 207, 143);
    /* border-color: black; */
    color: black;
    /* outline: 2px solid black; */
    
}